@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<html>
<head>
    <title>My eCard</title>
</head>

<body>
    <a href="http://wowoco.org" target="_blank"><img src="~/images/banner1.svg" alt="" title="" /></a>
    <h1><strong>"Lorem</strong></h1>
    <h2>ipsum</h2>
    <h3><strong>dolor</strong></h3>
    <a href="http://google.com" target="_blank">sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
    <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco <span>laboris</span> nisi ut aliquip ex ea commodo consequat.</div>
    <ol>
        <li>Duis</li>
        <li>aute</li>
        <li>irure</li>
    </ol>
    <ul>
        <li>dolor</li>
        <li>in</li>
        <li>reprehenderit</li>
    </ul>
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</body>


</html>
